[submodule "L5bPyrCellHayEtAl2011"]
	path = L5bPyrCellHayEtAl2011
	url = git@github.com:OpenSourceBrain/L5bPyrCellHayEtAl2011.git
[submodule "models/ModelDB/HumanL5PC"]
	path = models/ModelDB/HumanL5PC
	url = https://github.com/ModelDBRepository/266984
[submodule "models/ModelDB/CA1PC_Migliore"]
	path = models/ModelDB/CA1PC_Migliore
	url = https://github.com/ModelDBRepository/55035
[submodule "models/ModelDB/CA1PC"]
	path = models/ModelDB/CA1PC
	url = https://github.com/kedoxey/Migliore2005.git
[submodule "models/NetPyNE/cells_netpyne2021"]
	path = models/NetPyNE/cells_netpyne2021
	url = https://github.com/ericaygriffith/cells_netpyne2021.git
[submodule "models/NetPyNE/E21"]
	path = models/NetPyNE/E21
	url = https://github.com/ericaygriffith/cells_netpyne2021.git
[submodule "models/NetPyNE/pyr3"]
	path = models/NetPyNE/pyr3
	url = https://github.com/suny-downstate-medical-center/netpyne-course-2021.git
